.container
  .row
    .span12{:style=>"text-align:center"}
      :textile
        h2. My Product Page here 

  .row-fluid        
    .span8{:style => "padding: 0px 4px"}
      %h4 Are you ready for a static blog ?

      %hr

      %h3  
        Stasis powered dead simple static blog can be found 
        %a{:href=>"blog/index.html"}
          here 

      %hr 
      
      %h3 Styled by Twitter Bootstrap 
