.trisul_showcase
    .row
        .span2
            = blog_logo
        .span8{:style=>"text-align:center"}
            %h1 
                %a{:href=>"/blog"} LOREM IPSUM BLOG
            %h4 This is blogs slogan 
        .span2
            = blog_logo_flip



