!!!
%html
 %head
  %meta{ :keywords => "Network Security Monitoring"}
  %title Trisul Traffic and Security Analytics

  =stylesheet_tag('bootstrap', 'mystyles' )
  =javascript_tag('jquery','bootstrap.min','bootstrap-scrollspy')


 %body

  %div.main-content
   = yield


  

